[package]
name = 'rshift'
version = '3.0.0'
edition = '2021'

[lib]
crate-type = [ 'staticlib' ]

[dependencies]
extendr-api = "0.6"

[profile.release]
opt-level = 'z'     # Optimize for size
lto = true          # Enable link-time optimization
